# Database Configuration
DB_HOST=127.0.0.1
DB_USER=homafrika
DB_PASSWORD=Homafrika@123
DB_NAME=logi_cam
DB_PORT=3306

# App Configuration
PORT=3000
JWT_SECRET=votre_cle_secrete_ultra_securisee

# Cloudinary Metadata (for image uploads)
CLOUDINARY_CLOUD_NAME=djbewmjon
CLOUDINARY_API_KEY=729132613137683
CLOUDINARY_API_SECRET=UcRnpGX8qZmiTHGgwN1zfj7XBmY 
